.Work .video-fullscreen {
  position: fixed;
  inset: 0;
  background-color: #222;
}

.Work .top-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.Work .top-bar span {
  font-size: 2rem;
  padding: 2rem;
}

.Work .close-button {
  text-align: right;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  line-height: 0.8;
  padding: 1.2rem;
  align-self: baseline;
}

.Work .container {
  display: flex;
  flex-direction: row;
  padding: 2rem;
}

.Work .video-container {
  flex: 2;
}

.Work iframe {
  aspect-ratio: 16 / 9;
  width: 100%;
  height: auto;
  background-color: black;
}

.Work .info {
  flex: 1;
  overflow-y: auto;
  padding-left: 2rem;
}

.Work p {
  padding-bottom: 2rem;
}

.awards-and-nominations {
  padding-left: 0.5rem;
  display: flex;
  flex-direction: row;
}

.awards-and-nominations span {
  padding: 0 0.5rem;
}

@media screen and (max-width: 768px) {
  .Work .top-bar span {
    font-size: 1.5rem;
    padding: 1rem;
  }

  .Work .close-button {
    padding: 1rem;
  }

  .Work .container {
    padding: 1rem;
    flex-direction: column;
  }

  .Work iframe {
    margin-right: 0;
    margin-bottom: 1rem;
    width: 100%;
    height: auto;
  }

  .Work .video-container {
    flex: 1;
  }

  .Work p {
    padding-bottom: 1rem;
  }

  .Work .info {
    padding-left: 0;
  }
}
