.WorkFullscreen .video-fullscreen {
  position: fixed;
  height: 100%;
  inset: 0;
  background-color: #000;
  padding: 2rem 12rem;
  overflow-y: auto;
}

.WorkFullscreen h3 {
  margin-bottom: 0.5rem;
  font-weight: bolder;
}

.WorkFullscreen .top-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.WorkFullscreen .top-bar span {
  font-size: 2rem;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.short-description {
  margin-bottom: 2rem;
}
.WorkFullscreen .close-button {
  text-align: right;
  background-color: transparent;
  border: none;
  font-size: 3rem;
  color: white;
  cursor: pointer;
  line-height: 0.5;
  padding: 0 0 1rem 1rem;
  align-self: baseline;
}

.WorkFullscreen .container {
  max-width: 1450px;
  display: flex;
  flex-direction: column;
}

.WorkFullscreen .video-container {
  flex: 2;
}

.WorkFullscreen iframe {
  aspect-ratio: 16 / 9;
  width: 100%;
  height: auto;
  background-color: black;
  margin-bottom: 2rem;
}

.WorkFullscreen .info {
  flex: 1;
  overflow-y: auto;
  max-width: 600px;
  padding-bottom: 2rem;
}

.WorkFullscreen p {
  padding-bottom: 1.2rem;
}

ul {
  list-style: circle;
  padding-left: 1rem;
}
.awards-and-nominations {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
}

.awards-and-nominations span {
  padding: 0 0.5rem;
}

.WorkFullscreen .premiered-at {
  padding-bottom: 1rem;
}

.WorkFullscreen .imdb a {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .WorkFullscreen .video-fullscreen {
    padding: 1rem;
  }

  .WorkFullscreen .top-bar span {
    font-size: 1.5rem;
  }

  .WorkFullscreen .container {
    flex-direction: column;
  }

  .WorkFullscreen iframe {
    margin-right: 0;
    margin-bottom: 1rem;
    width: 100%;
    height: auto;
  }

  .WorkFullscreen .video-container {
    flex: 1;
  }

  .WorkFullscreen p {
    padding-bottom: 1rem;
  }
}
